<div class="modal fade" role="dialog" id="login-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span>&times;</span>
        </button>
        <h4 class="modal-title">Login</h4>
      </div>
      <div class="modal-body">
        <%= form_for(:session, url: sessions_path) do |f| %>

          <%= f.label :username %>
          <%= f.text_field :username, {class: "form-control"} %>

          <%= f.label :password %>
          <%= f.password_field :password, {class: "form-control"} %>

      </div>
      <div class="modal-footer">
          <%= f.submit "Sign In", {class: "btn btn-default btn-primary"} %>
        <% end %>

        <% if session[:message] %>
          <%= session[:message] %>
          <% session.delete(:message) %>
        <% end %>
      </div>
    </div>
  </div>
</div>
