<div class="row">
  <div class="col-md-8">
    <div class="row">
      <h2>Saved Itineraries</h2>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="thumbnail">
          <img src="http://i.huffpost.com/gen/1846574/images/o-SAN-FRANCISCO-FOG-facebook.jpg">
          <div class="caption">
            <h4>San Francisco</h4>
            <p>May 24, 2015</p>
            <p>United Airlines Flight 17425B</p>
            <p>Grand Hotel</p>
            <p>4 nights</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4 panel panel-default" id="user-sidebar">
    <h4>Account Settings</h4>

    <div class="container" id="update-account">
      <%= form_for(@signup_user) do |f| %>
        <div class="row">
        <%= f.label :username %>
        </div>
        <div class="row">
        <%= f.text_field :username %>
        </div>
        <div class="row">
        <%= f.label :password %>
        </div>
        <div class="row">
        <%= f.text_field :password %>
        </div>
        <div class="row">
        <%= f.label :email %>
        </div>
        <div class="row">
        <%= f.text_field :email %>
        </div>
        <div class="row">
      <% end %>
    </div>

    <button class="btn btn-default">Watch Trips</button>

  </div>
</div>
